.env
.env.local
.env.*.local
Secret/
serviceAccountKey.json

.vercel/
.vscode/

*.swp
*.swo
*.swn

*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
__debug_bin
node_modules/
Frontend/node_modules/
Frontend/dist/
coverage/
scripts/
*.out
